<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Transformasi Data{% endblock %}</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <div class="nav-left">
            <a href="{{ url_for('upload_file') }}">Transformasi Data Untuk Dashboard</a>
        </div>
    </nav>
    
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <ul class="flash {{ category }}">
                <li>{{ message }}</li>
              </ul>
            {% endfor %}
          {% endif %}
        {% endwith %}
        
        <main>
            {% block content %}{% endblock %}
        </main>
    </div>

</body>
</html>